<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Consommation API!
            {% endblock %}
        </title>
        <link href="css/bootstrap.min.css" rel="stylesheet"> {% block stylesheets %}{% endblock %}
        </head>
        <body>
            {% block body %}{% endblock %}
            <script src="js/jquery.min.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            {% block javascripts %}{% endblock %}
        </body>
    </html>
